@font-face {
    src:url('../../ressources/fonts/steelfish_rg.ttf'); 
}

@font-face {
    src:url('../../ressources/fonts/Geometos.ttf'); 
}

@font-face {
    src:url('../../ressources/fonts/Louis_George_Cafe.ttf'); 
}

Label {
	-fx-font-size:18px ;
    -fx-font-family: "Geometos";
}

Button {
	-fx-font-size:18px ;
    -fx-font-family: "Louis George Café";
}

ComboBox {
	-fx-font-size:18px ;
    -fx-font-family: "Louis George Café";
}

#titrePage {
	-fx-font-size:24px ;
    -fx-font-family: "Geometos";
}

#titrePage {
	-fx-font-size:24px ;
    -fx-font-family: "Geometos";
}

#titreRecette {
	-fx-font-size:18px ;
    -fx-font-family: "Geometos";
}

.body {
	-fx-background-image: url('../../ressources/images/background.jpg'); 
}